.display-none{ display: none; }

@media (--screen-xs){
	.display-none-xs{ display: none; }
}

@media (--screen-sm){
	.display-none-sm{ display: none; }
}

@media (--screen-md){
	.display-none-md{ display: none; }
}

@media (--screen-lg){
	.display-none-lg{ display: none; }
}

.hide{
	display: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}