.hide{ display: none; }

@media (--screen-xs){
	.hide-xs{ display: none; }
}

@media (--screen-sm){
	.hide-sm{ display: none; }
}

@media (--screen-md){
	.hide-md{ display: none; }
}

@media (--screen-lg){
	.hide-lg{ display: none; }
}

/* Use this class for hiding things to be read for screen readers */
.hide-sr{
	display: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}