.show-xs, 
.show-sm, 
.show-md, 
.show-lg{ display: none; }

@media (--screen-xs){
	.show-xs{ display: block; }
}

@media (--screen-sm){
	.show-sm{ display: block; }
}

@media (--screen-md){
	.show-md{ display: block; }
}

@media (--screen-lg){
	.slow-lg{ display: block; }
}

/* Use this class for hiding things to be read for screen readers */
.hide-sr{
	display: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}