body{
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-size: var(--body-font-size);
}

.measure{ max-width: var(--measure-width); }

h1, h2, h3, h4, h5, h6{
	font-family: var(--font-family-h);
	font-weight: var(--font-weight-h);
	line-height: var(--line-height-h);
	margin-top: var(--margin-top-h);
	margin-bottom: var(--margin-bottom-h);
}

h1, .h1{ font-size: var(--font-size-h1); }

h2, .h2{ font-size: var(--font-size-h2); }

h3, .h3{ font-size: var(--font-size-h3); }

h4, .h4{ font-size: var(--font-size-h4); }

h5, .h5{ font-size: var(--font-size-h5); }

h6, .h6{ font-size: var(--font-size-h6); }

p{
	margin-top: var(--margin-top-p);
	margin-bottom: var(--margin-bottom-p);
}

dl, ol, ul{
	margin-top: var(--margin-top-list);
	margin-bottom: var(--margin-bottom-list);
}