body{
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	line-height: var(--heading-line-height);
	margin-top: var(--heading-margin-top);
	margin-bottom: var(--heading-margin-bottom);
}

h1, .h1{ font-size: var(--h1-font-size); }

h2, .h2{ font-size: var(--h2-font-size); }

h3, .h3{ font-size: var(--h3-font-size); }

h4, .h4{ font-size: var(--h4-font-size); }

h5, .h5{ font-size: var(--h5-font-size); }

h6, .h6{ font-size: var(--h6-font-size); }

.measure{ max-width: var(--measure-width); }

p{
	margin-top: var(--p-margin-top);
	margin-bottom: var(--p-margin-bottom);
}

dl, ol, ul{
	margin-top: var(--list-margin-top);
	margin-bottom: var(--list-margin-bottom);
}