:root {
  /* Type */
  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --body-font-size: 100%;

  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --heading-margin-top: 0;
  --heading-margin-bottom: 0;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: .875rem;
  --h6-font-size: .75rem;

  --measure-width: 30em;

  --p-margin-top: 0;
  --p-margin-bottom: 0;

  --list-margin-top: 0;
  --list-margin-bottom: 0;

  --font-weight-bold: bold;

  --pre-max-height: 25vh;
  --code-font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  --code-font-size: 75%;

  /* Colors
     Variables provided from node_modules/colors.css/myth
  */
  --body-background-color: var(--white);
  --body-color: var(--black);
  --heading-color: var(--black);
  --link-color: var(--blue);
  --link-hover-color: var(--black);

  /* White Space 
     Margin & Padding 
  */
  --space-1: 0.5rem;
  --space-2: 1.0rem;
  --space-3: 2.0rem;
  --space-4: 4.0rem;

  /* Borders */
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 4px;

  /* Grid */
  --container-width: 64em;

  /* Transitions */
  --transition-speed: 0.3s;
    
}