/* Project unique styles here */

@media(--screen-sm){
	.main{ 
		margin-left: 12rem; 
	}
	.nav{ 
		position: fixed; 
		width: 12rem; 
		overflow: auto; 
		top: 0; 
		bottom: 0; 
		left: 0;
	}
}

h1 .small{ 
	font-size: 40%; 
	color: var(--gray);
}

.nav a{ text-decoration: none }
.nav a:hover{ background-color: #fff }

header img{ width: initial }

.social iframe{
	margin-left: calc( var(--space-1) / 2 );
	margin-right: calc( var(--space-1) / 2 );
}