/* Project unique styles here */

:root{
	--light-blue: #279aff;
}



pre{ background-color: var(--light-blue) }
.bg-light-blue{ background-color: var(--light-blue) }

@media(--screen-sm){
	.main{ 
		margin-left: 12rem; 
	}
	.nav{ 
		position: fixed; 
		width: 12rem; 
		overflow: auto; 
		top: 0; 
		bottom: 0; 
		left: 0;
	}
}

h1 .small{ 
	font-size: 40%; 
	color: var(--gray);
}

.nav a{ text-decoration: none }
.nav a:hover{ background-color: #fff }

.twitter{ 
	bottom: 0; 
	left: calc(4/12 * 100%); 
}